@model qMine.Models.RegisterViewModel
@{
    ViewBag.Title = "SIGN IN";
}
<div class="row content container-fluid" style="padding-top:10px">
    <div class="col-lg-8">
        <div class="card border-0">
            <div class="card-header text-light">
                <h5 class="card-title">@ViewBag.Title</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            @Html.LabelFor(m => m.Email, new { @class = "input-group-text" })
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            @Html.LabelFor(m => m.Password, new { @class = "input-group-text" })
                        </div>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type="password" })
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "input-group-text" })
                        </div>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password" })
                    </div>

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="mb-3">
                        <input type="submit" class="btn btn-dark" value="Confirm" style="float:right"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
