<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/png" href="~/Content/img/Computer-icon.png"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        @*<img src="~/Content/img/Computer-icon.png" style="padding-right:5px" />*@
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">qMine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav mr-auto">
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Console <span class="sr-only">(current)</span></a>
                    </li>

                    @*<li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                    </li>*@
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <div class="container body-content">
        @RenderBody()

    </div>


    @*<hr />*@
    @*<footer>
            <div class="container-fluid">
                <p>&copy; @DateTime.Now.Year – qMine ASP.NET</p>
            </div>
        </footer>*@

</body>
</html>
