<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("qMine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – qMine ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            $("#sendRcon").click(function () {

                var command = $("#commandRcon").val();
                if (command != "") $("#Send").prop('disabled', true);
                $.ajax({
                    url: '@Url.Action("CallRcon", "Home")',
                    type: 'POST',
                    data: { commandRcon: command },
                    cache: false,

                    success: function (Data) {
                        logSuccess(Data);
                    }
                });
            });
        });

        function logSuccess(Data) {
            datetime = getCurrentTime();
            datetime += " <- ";
            var fullLog = datetime + Data;
            $("#ulconsole").append('<li>' + fullLog + '</li>');
            $("#btnSend").prop('disabled', false);
            clearOldLogs();
        }

        function clearOldLogs() {
            var logItemSize = $("#groupConsole li").size();
            if (logItemSize > 50) {
                $('#groupConsole li:first').remove();
            }
        }

        function getCurrentTime()
        {
	        var currentdate = new Date(); 
	        var datetime = currentdate.getDate() + "/"
          + (currentdate.getMonth()+1)  + "/" 
          + currentdate.getFullYear() + " @@ "  
          + currentdate.getHours() + ":"  
          + currentdate.getMinutes() + ":" 
          + currentdate.getSeconds();
          return datetime;
        }
    </script>

</body>
</html>
