<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar-expand-lg navbar-light bg-light">
        <div class="container">

            @Html.ActionLink("qMine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" }) </li>
                    <li class="nav-item active">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" }) </li>
                    <li class="nav-item active">@Html.ActionLink("Contacts", "Contact", "Home", new { @class = "nav-link" }) </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        @*<footer>
            <div class="container-fluid">
                <p>&copy; @DateTime.Now.Year – qMine ASP.NET</p>
            </div>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            $("#sendRcon").click(function () {

                var command = $("#commandRcon").val();
                if (command != "") $("#Send").prop('disabled', true);

                

                $.ajax({
                    url: '@Url.Action("CallRcon", "Home")',
                    type: 'POST',
                    data: { commandRcon: command },
                    cache: false,

                    success: function (Data) {

                        var datetime = getCurrentTime();
                        datetime += " -> ";
                        datetime += command;

                        $("#ulconsole").append('<li class="list-group-item list-group-item-success">' + datetime + '</li>');
                        clearOldLogs();

                        if (Data.indexOf("Unknown command") != -1) {
                            logError(Data);
                            clearOldLogs();
                            return;
                        }
                        else if (Data.indexOf("Usage") != -1) {
                            logWarning(Data);
                            return;
                        }
                        else
                            logSuccess(Data);
                    }
                }).fail(
                    function () {
                        logError(Data);
                        }
                    );
            });
        });

        $("#btnClearLog").click(function () {
            $("#ulconsole").empty();
        });

        function logSuccess(Data) {

            datetime = getCurrentTime();
            datetime += " <- ";
            var fullLog = datetime + Data;
            $("#ulconsole").append('<li class="list-group-item list-group-item-info" >' + fullLog + '</li>');
            $("#btnSend").prop('disabled', false);
            clearOldLogs();
            if ($("#chkAutoScroll").is(':checked')) scrollLogsDown();
        }

        function logError(Data) {
            datetime = getCurrentTime();
            datetime += " <- ";
            datetime += "Error!";
            $("#ulconsole").append('<li class="list-group-item list-group-item-danger">' + Data + '</li>');
            $("#btnSend").prop('disabled', false);
            clearOldLogs();
            if ($("#chkAutoScroll").is(':checked')) scrollLogsDown();
        }

        function logWarning(Data) {
            datetime = getCurrentTime();
            datetime += " <- ";
            var fullLog = datetime + Data;
            $("#ulconsole").append('<li class="list-group-item list-group-item-warning">' + fullLog + '</li>');
            $("#btnSend").prop('disabled', false);
            clearOldLogs();
            if ($("#chkAutoScroll").is(':checked')) scrollLogsDown();
        }

        function clearOldLogs() {
            var logItemSize = $("#ulconsole li").size;
            if (logItemSize > 50) {
                $('#ulconsole li:first').remove();
            }
        }

        function getCurrentTime()
        {
	        var currentdate = new Date(); 
	        var datetime = currentdate.getDate() + "/"
          + (currentdate.getMonth()+1)  + "/" 
          + currentdate.getFullYear() + " @@ "  
          + currentdate.getHours() + ":"  
          + currentdate.getMinutes() + ":" 
          + currentdate.getSeconds();
          return datetime;
        }

        function scrollLogsDown() {
            $("#ulconsole").scrollTop($("#ulconsole").get(0).scrollHeight);
        }
    </script>

</body>
</html>
