@model qMIne.Models.ServerCredentials

@using (Html.BeginForm("ServerCredentials", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id);
    @Html.HiddenFor(m => m.Name);
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.IP, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.IP, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.Port, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.Port, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.Password, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <input type="submit" value="Save" class="btn btn-dark" style="float:right" />
}
