@model qMine.Models.ServerCredentials

@using (Html.BeginForm("ServerCredentials", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id);
    @Html.HiddenFor(m => m.Name);
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.IP, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.IP, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.Port, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.Port, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.RconPort, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.RconPort, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.Password, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.SSHLogin, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.SSHLogin, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.SSHPassword, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.SSHPassword, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.SSHPort, new { @class = "input-group-text control-label" })
        </div>
        @Html.TextBoxFor(m => m.SSHPort, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(m => m.SSHMinecraftServiceName, new { @class = "input-group-text control-label" })
        </div>
        <div class="input-group-text list-group-item-light">
            service
        </div>
        @Html.TextBoxFor(m => m.SSHMinecraftServiceName, new { @class = "form-control" })
        <div class="input-group-text list-group-item-light">
            start/stop
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-warning" })
    <input type="submit" value="Save" class="btn btn-dark" style="float:right" />
}
