@using qMine.Models;
@using qMine.Context;
@model IndexViewModel
 
@{
    ViewBag.Title = "qMine | ACCOUNT";
}




<div class="row" style="padding-top:10px">
    <div class="col-lg-8">
        <div class="card border-0">
            <div class="card-header text-light">
                <h5 class="card-title d-inline">ACCOUNT </h5>

                @if (ViewBag.StatusMessage == "Error")
                {
                    <p style="padding-left:10px" class="d-inline text-warning">@ViewBag.StatusMessage</p>
                }
                else
                {
                    <p style="padding-left:10px" class="d-inline text-success">@ViewBag.StatusMessage</p>
                }
            </div>

            <div class="card-body">

                @{
                    using (var context = new ApplicationDbContext())
                    {
                        var serverCredentials = context.ServerCredentials.FirstOrDefault(x => x.Name == User.Identity.Name);
                        if (serverCredentials != null)
                        {
                            @Html.Partial("ServerCredentials", serverCredentials, new ViewDataDictionary())
                        }
                        else
                        {
                            @Html.Partial("ServerCredentials", new ServerCredentials(User.Identity.Name), new ViewDataDictionary())

                        }
                    }
                }

                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change password", "ChangePassword", "Manage", new { id = 1 }, new { @class = "btn btn-dark" })
                }
                else
                {
                    @Html.ActionLink("Create password", "SetPassword", "Manage", new { id = 1 }, new { @class = "btn btn-dark" })
                }

               
            </div>
        </div>
    </div>
</div>
