@using qMIne.Models;
@using qMIne.Context;
@model IndexViewModel
 
@{
    ViewBag.Title = "Account";
}




<div class="row content container-fluid" style="padding-top:10px">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">@ViewBag.Title</h5>
            </div>

            <div class="card-body">

                @{
                    using (var context = new ApplicationDbContext())
                    {
                        var serverCredentials = context.ServerCredentials.FirstOrDefault(x => x.Name == User.Identity.Name);
                        if (serverCredentials != null)
                        {
                            @Html.Partial("ServerCredentials", serverCredentials, new ViewDataDictionary())
                        }
                        else
                        {
                            @Html.Partial("ServerCredentials", new ServerCredentials(User.Identity.Name), new ViewDataDictionary())

                        }
                    }
                }

                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change password", "ChangePassword", "Manage", new { id = 1 }, new { @class = "btn btn-outline-dark" })
                }
                else
                {
                    @Html.ActionLink("Создать", "SetPassword", "Manage", new { id = 1 }, new { @class = "btn btn-dark" })
                }

                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
        </div>
    </div>
</div>
